header#main-header {
    width: 100%;
    height: 70px;
    background: #da552f;
    font-size: 10px;
    font-weight: bold;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}